{% extends "layout.html" %}

{% block heading %}
<div class="container">
New User Registration
</div>    
{% endblock %}

{% block body %}
<div class="container">
    <h2>Enter your email and password.</h2>
    <p>Please do not choose a username/password you've used anywhere else, the purpose of this site is not to learn securty the usernames/passwords are NOT encrypted.</p>
    <form method="post">
            <p><input type=text name=username placeholder="username">
            <p><input type="password" name=password placeholder="password">
            <p><input type=submit value=Login>
        </form>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <p class=flashes style=color:red>
        {% for message in messages %}
        {{ message }}
        {% endfor %}
        </p>
    {% endif %}
    {% endwith %}
</div>
{% endblock %}